# MovieBase - JSON Conversion

Converting all data to a JSON format to set up the data to be passed in an array of data to be used in the data.html table using DataTables (https://datatables.net/examples/data_sources/js_array.html)

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import csv
import json

In [2]:
# Read the csv file into a pandas DataFrame
# --------------------------------------------------------------
# data = pd.read_csv("../Resources/data/IMDB-Movie-Data.csv")
data = pd.read_csv("../Resources/data/databaseGenre_html.csv")
data.head()

,index,genres,movies_count,total_budget,median_budget,total_revenue,median_revenue,median_popularity,median_popularity2,median_rating,median_totalVotes,total_budget(million),median_budget(million),total_revenue(million),median_revenue(million)
0,7,Adventure,439,"$23,738,161,039.00","$28,000,000.00","$77,180,369,998.00","$59,700,000.00",10,9,6,600,23738,28,77180,59
1,2,Family,260,"$11,048,890,059.00","$24,500,000.00","$36,113,426,664.00","$57,470,029.50",8,8,6,456,11048,24,36113,57
2,15,Fantasy,232,"$11,039,073,847.00","$25,000,000.00","$34,328,096,420.00","$49,813,196.00",9,9,6,585,11039,25,34328,49
3,19,TV Movie,1,"$5,000,000.00","$5,000,000.00","$42,000,000.00","$42,000,000.00",5,6,6,102,5,5,42,42
4,5,Action,741,"$29,934,126,656.00","$20,000,000.00","$82,283,193,867.00","$36,000,000.00",8,8,6,396,29934,20,82283,36

In [3]:
# Function to convert a CSV to JSON. Takes the file paths as arguments
# --------------------------------------------------------------
def make_json(csvFilePath, jsonFilePath):
     
    # create a dictionary
    data = {}
     
    # Open a csv reader called DictReader
    with open(csvFilePath, encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)
         
        # Convert each row into a dictionary and adds it to data
        for rows in csvReader:
             
            # Assuming a column named 'id' to be the primary key
            key = rows['id']
            data[key] = rows
 
    # Open a json writer, and use the json.dumps() function to dump data
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
        jsonf.write(json.dumps(data, indent=4))
         
# Driver Code
# --------------------------------------------------------------
# Map out the file paths
csvFilePath = r'../Resources/data/database_html.csv'
jsonFilePath = r'../Resources/data/Names.json'
 
# Call the make_json function
make_json(csvFilePath, jsonFilePath)

In [4]:
csvfile = open('../Resources/data/database_html.csv, 'r')
jsonfile = open('../Resources/data/Names2.json', 'w')

fieldnames = ('id','imdb_id','belongs_to_collection','poster_path','original_title','title','genres', 'status',
                              'release_date','release_year','runtime','cast', 'crew','spoken_languages',
                              'popularity2', 'rating', 'totalVotes','budget','revenue')
reader = csv.DictReader( csvfile, fieldnames)
for row in reader:
    json.dump(row, jsonfile)
    jsonfile.write('\n')

SyntaxError: EOL while scanning string literal (<ipython-input-4-b2c607c30914>, line 1)

In [5]:
# df = data[['id','imdb_id','belongs_to_collection','poster_path','original_title','title','genres', 'status',
#                               'release_date','release_year','runtime','cast', 'crew','spoken_languages',
#                               'popularity2', 'rating', 'totalVotes','budget','revenue']]

KeyError: "['release_year', 'rating', 'cast', 'budget', 'id', 'imdb_id', 'belongs_to_collection', 'release_date', 'poster_path', 'title', 'runtime', 'crew', 'spoken_languages', 'totalVotes', 'status', 'original_title', 'revenue', 'popularity2'] not in index"

In [6]:
df = data[['index','genres','movies_count','total_budget','median_budget','total_revenue','median_revenue', 'median_popularity',
                              'median_popularity2','median_rating','median_totalVotes','total_budget(million)', 'median_budget(million)',
                               'total_revenue(million)','median_revenue(million)']]

In [7]:
data_html = df.to_numpy()

In [8]:
lists = data_html.tolist()
json_str = json.dumps(lists)

print(json_str)

[[7, "Adventure", 439, "$23,738,161,039.00", "$28,000,000.00", "$77,180,369,998.00", "$59,700,000.00", 10, 9, 6, 600, 23738, 28, 77180, 59], [2, "Family", 260, "$11,048,890,059.00", "$24,500,000.00", "$36,113,426,664.00", "$57,470,029.50", 8, 8, 6, 456, 11048, 24, 36113, 57], [15, "Fantasy", 232, "$11,039,073,847.00", "$25,000,000.00", "$34,328,096,420.00", "$49,813,196.00", 9, 9, 6, 585, 11039, 25, 34328, 49], [19, "TV Movie", 1, "$5,000,000.00", "$5,000,000.00", "$42,000,000.00", "$42,000,000.00", 5, 6, 6, 102, 5, 5, 42, 42], [5, "Action", 741, "$29,934,126,656.00", "$20,000,000.00", "$82,283,193,867.00", "$36,000,000.00", 8, 8, 6, 396, 29934, 20, 82283, 36], [6, "Animation", 141, "$5,967,983,384.00", "$23,000,000.00", "$20,830,507,010.00", "$36,754,634.00", 9, 9, 7, 491, 5967, 23, 20830, 36], [12, "Science Fiction", 290, "$12,701,705,758.00", "$20,000,000.00", "$35,486,481,131.00", "$35,109,301.50", 9, 8, 6, 512, 12701, 20, 35486, 35], [11, "Crime", 469, "$11,128,971,302.00", "$12,600,000.00", "$27,901,408,828.00", "$24,048,000.00", 8, 8, 6, 396, 11128, 12, 27901, 24], [4, "Thriller", 789, "$20,873,192,826.00", "$13,000,000.00", "$53,917,610,066.00", "$21,890,845.00", 8, 8, 6, 425, 20873, 13, 53917, 21], [13, "Mystery", 225, "$5,049,606,001.00", "$10,000,000.00", "$13,417,641,845.00", "$21,133,087.00", 9, 9, 6, 422, 5049, 10, 13417, 21], [0, "Comedy", 1028, "$19,614,445,621.00", "$8,000,000.00", "$62,580,263,721.00", "$18,809,184.00", 7, 7, 6, 233, 19614, 8, 62580, 18], [8, "Horror", 301, "$4,578,070,363.00", "$6,000,000.00", "$15,865,430,318.00", "$17,037,887.00", 8, 8, 6, 330, 4578, 6, 15865, 17], [16, "War", 100, "$2,673,133,410.00", "$12,578,174.00", "$4,991,586,809.00", "$15,007,337.00", 8, 7, 7, 258, 2673, 12, 4991, 15], [18, "History", 132, "$2,997,539,637.00", "$12,000,000.00", "$5,070,546,615.00", "$15,436,943.50", 8, 7, 7, 194, 2997, 12, 5070, 15], [3, "Romance", 571, "$8,944,336,886.00", "$5,500,000.00", "$30,094,559,216.00", "$14,016,568.00", 6, 7, 6, 155, 8944, 5, 30094, 14], [10, "Music", 100, "$1,315,399,141.00", "$6,000,000.00", "$4,287,089,768.00", "$14,025,692.00", 6, 6, 7, 111, 1315, 6, 4287, 14], [1, "Drama", 1531, "$25,733,940,425.00", "$6,000,000.00", "$69,516,699,191.00", "$11,293,663.00", 7, 7, 7, 206, 25733, 6, 69516, 11], [17, "Western", 43, "$819,744,461.00", "$3,800,000.00", "$2,208,937,320.00", "$9,000,000.00", 8, 7, 7, 206, 819, 3, 2208, 9], [9, "Documentary", 87, "$76,787,594.00", "$0.00", "$403,506,794.00", "$268,431.00", 2, 2, 7, 31, 76, 0, 403, 0], [14, "Foreign", 31, "$40,334,367.00", "$0.00", "$58,100,126.00", "$170,000.00", 1, 1, 5, 13, 40, 0, 58, 0]]